* {
    background-image:url('./img/bg_pagina_1024.jpg');
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#container {
    width: 100%;
}

#container {
    width: 384px;
    margin: 0 auto;
    background: #FFF;
    text-align: left;
}

div {
    display: block;
}

#header {
    width: 384px;
    margin: 0 auto;
    background: #003395;
    text-align: left;
    display: block;
    color: #FFF;
}

.textarea {
    border: 1px solid #003395;
}
