{% extends 'base.html' %}

{% block content %}
<div id="container">
    <h3>Blocos</h3>
    <p>Quantidade de blocos: {{ length }}</p>
    {% if chain %}
        {% for block in chain %}
            <p>Index: {{ block.index }}</p>
            <p>Hash: {{ block.hash }}</p>
            <p>Hash do bloco anterior: {{ block.previous_hash }}</p>
            <p>Timestamp: {{ block.timestamp }}</p>
            <p>Prova de trabalho: {{ block.proof }}</p>
            <p>Dificuldade: {{ block.difficult }}</p>
            <p>Transações: </p>
            {% for transaction in block.transactions %}
                <div class="tr-info">
                    <p>Remetente: {{ transaction.sender }}</p>
                    <p>Destinatário: {{ transaction.receiver }}</p>
                    <p>Quantidade: {{ transaction.amount }}</p>
                </div>
            {% endfor %}
            <hr class="blk-hr">
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
